<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="HaritiShoppingConnectionString" connectionString="Data Source=CO\SQLEXPRESS;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString2" connectionString="Data Source=CO\SQLEXPRESS;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString3" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString4" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString5" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString6" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString7" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString8" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString9" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString10" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString11" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString12" connectionString="Data Source=CO\SQLEXPRESS;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString13" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString14" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString15" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString16" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingDataConnectionString" connectionString="Data Source=co\sqlexpress;Initial Catalog=ShoppingData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString17" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingDataConnectionString2" connectionString="Data Source=co\sqlexpress;Initial Catalog=ShoppingData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingDataConnectionString3" connectionString="Data Source=CO\SQLEXPRESS;Initial Catalog=ShoppingData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString18" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HaritiShoppingConnectionString19" connectionString="Data Source=co\sqlexpress;Initial Catalog=HaritiShopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <authentication mode="Windows"/>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
       <pages enableEventValidation="false"/>

 
    </system.web>
  <system.webServer>
    <handlers>
      <add name="captcha1" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </handlers>
  </system.webServer>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>   
<appSettings>
		<add key="MERCHANT_KEY" value="ixtM1w9l"/>
		<add key="SALT" value="DgCaB2G4l5"/>
		<!-- Merchant Key and Salt you will find the merchant Panel -->

		<add key="PAYU_BASE_URL" value="https://sandboxsecure.payu.in"/>
		<add key="action" value=" https://sandboxsecure.payu.in/_payment"/>
		<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
	</appSettings>
</configuration>
